<md-dialog class="md-login-modal">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Login</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <i class="fa fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <form name="loginForm">
      <md-content layout="column" class="md-padding">
        <md-input-container>
          <label>Username</label>
          <input required type="text" ng-model="loginModel.username" name="username" />
          <div ng-messages="loginForm.username.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input required type="password" ng-model="loginModel.password" name="password" />
          <div ng-messages="loginForm.password.$error" role="alert">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button type="submit" class="md-raised md-primary">Login</md-button>
          <div flex="flex"></div>
          <md-button href="" md-no-ink>Forgot Password</md-button>
        </div>
        <md-divider></md-divider>
        <md-button href="#" md-no-ink>Sign Up</md-button>
      </md-content>
    </form>
  </md-dialog-content>
</md-dialog>