body {
  background: #e4e5e6;
}

.demo-container {
  padding: 80px 25px;
}

.tab-content {
  background-color: #e4e5e6;
  min-height: 100vh;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #e4e5e6;
  font-weight: bold;
}

.md-login-modal {
  max-width: 90%;
  width: 500px;
}
