<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../dist/form-builder-material.min.css">
    <link rel="stylesheet" href="../dist/form-viewer-material.min.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript">
        //hack to remove ARIA warinings
        console.realWarn = console.warn;
        console.warn = function (message) {
            if (message.indexOf("ARIA") == -1) {
                console.realWarn.apply(console, arguments);
            }
        };
    </script>
</head>

<body ng-controller="AppViewerController as ctrl" ng-cloak>
    <md-content ng-if="ctrl.formData">
        <md-content class="md-padding tab-content">
            <div layout="row" layout-align="center">
                <div flex-gt-sm="66" flex-sm="90">
                    <div ng-if="ctrl.formData">
                        <mw-form-viewer form-data="ctrl.formData" template-data="ctrl.templateData" form-status="ctrl.formStatus" options="ctrl.formOptions" api="ctrl.formViewer" response-data="ctrl.responseData" read-only="ctrl.viewerReadOnly" on-submit="ctrl.saveResponse()"></mw-form-viewer>
                    </div>
                </div>

            </div>

        </md-content>
    </md-content>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="../bower_components/angular-elastic/elastic.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../bower_components/sortablejs/Sortable.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../vendor/angular-legacy-sortable.js"></script>
    <script src="../dist/form-utils.js"></script>
    <script src="../dist/form-builder.js"></script>
    <script src="../dist/form-builder-material-tpls.min.js"></script>
    <script src="../dist/form-viewer.js"></script>
    <script src="../dist/form-viewer-material-tpls.min.js"></script>

    <script src="view-script.js"></script>


</body>

</html>