<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../dist/form-builder-material.min.css">
    <link rel="stylesheet" href="../dist/form-viewer-material.min.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript">
        //hack to remove ARIA warinings
        console.realWarn = console.warn;
        console.warn = function (message) {
            if (message.indexOf("ARIA") == -1) {
                console.realWarn.apply(console, arguments);
            }
        };
    </script>
</head>

<body ng-controller="AppController as ctrl" ng-cloak>


    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools" style="border-bottom: 1px solid #e7e7e7;">
            <h2>
                <span>Survey Builder</span>
            </h2>
            <span flex></span>
            <md-menu>
                <md-button aria-label="Change language" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <i class="fa fa-flag fa-lg"></i>
                </md-button>
                <md-menu-content width="1">
                    <md-menu-item ng-repeat="language in ctrl.languages">
                        <md-button ng-click="ctrl.changeLanguage(language)">
                            {{language}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button ng-controller="LoginController" class="md-icon-button" ng-click="login()">
                <i class="fa fa-user-circle-o"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-content>
        <md-content class="md-padding tab-content" ng-if="!ctrl.builderMode">
            <div layout="row" layout-align="center">
                <div flex-gt-sm="66" flex-sm="90">
                    <mw-form-list list-survey="ctrl.listSurvey"></mw-form-list>
                </div>
            </div>
        </md-content>

        <md-content class="md-padding tab-content" ng-if="ctrl.builderMode">
            <div layout="row" layout-align="center">
                <div flex-gt-sm="66" flex-sm="90" class="form-container">
                    <md-button class="md-raised md-primary builder-back-btn" aria-label="Back" ng-click="ctrl.backToList()">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </md-button>
                    <div layout="row" layout-align="center">
                        <div>
                            <md-button class="md-primary" aria-label="Reset" ng-click="ctrl.resetBuilder()">
                                Reset
                            </md-button>
                            <md-checkbox ng-model="ctrl.builderReadOnly" aria-label="Read only">
                                Read only
                            </md-checkbox>
                        </div>
                    </div>

                    <mw-form-builder api="ctrl.formBuilder" options="ctrl.optionsBuilder" form-data="ctrl.formData" form-status="ctrl.formStatus" read-only="ctrl.builderReadOnly" on-image-selection="ctrl.onImageSelection()"></mw-form-builder>
                </div>

                <div class="form-save-btn">
                    <div layout="row" layout-align="center">
                        <div flex-gt-sm="66" flex-sm="90">
                            <md-button class="md-primary md-raised" type="submit" role="button" ng-click="ctrl.saveFormBuilder()" translate="mwForm.buttons.save">
                                Save
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </md-content>


    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="../bower_components/angular-elastic/elastic.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../bower_components/sortablejs/Sortable.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../vendor/angular-legacy-sortable.js"></script>
    <script src="../dist/form-utils.js"></script>
    <script src="../dist/form-builder.js"></script>
    <script src="../dist/form-builder-material-tpls.min.js"></script>
    <script src="../dist/form-viewer.js"></script>
    <script src="../dist/form-viewer-material-tpls.min.js"></script>

    <script src="script.js"></script>


</body>

</html>